{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Courses</h1>
        
        <div class="list-group">
            {% for course in courses %}
            <a href="{% url 'course-info' course.id %}" class="list-group-item list-group-item-action flex-column align-items-start p2-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{course.course_name}}</h5>
              </div>
            </a>
            {% empty %}
            <p class="text-center">No courses found for the selected filters</p>
            {% endfor %}
    </div>
{% endblock %}
