{% extends "base.html" %}
{% load ratings %}
{% load crispy_forms_tags %}

{% block title %}Create Review{% endblock %}

{% block content %}
    
    <div class="container">
        {{ form.media.css }}
        <h1 class="my-3">Submit a Course Review</h1>
        <form method="post">
            {% csrf_token %}
            {{ form |crispy }}
            <input type="submit" class="btn btn-dark" value="Submit">
        </form>
        {% ratings object %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock %}
